// Footer
-var redes = ['facebook', 'twitter', 'instagram', 'youtube'];
-var pages = ['facebook.com/controlmas.mx/?fref=ts', 'twitter.com/franco_esca', 'instagram.com/holaenfermera/?hl=en', 'youtube.com/user/matuk'];