extends layout/layout

block Main
	section.Logo.center-content
		article.txt-ctr
			h1.auto-text.color-pink
			figure.Logo-image.disp-inln-blk
				img.width-100(src="/img/index/logo.png")
			ul.Logo-list
				li.Logo-listItem.list-target: a(href="#about") About
				li.Logo-listItem.list-target: a(href="#work") Work
				li.Logo-listItem.list-target: a(href="#contact") Contact

	.bg-pink.height-100.width-100.center-content#about
		h3.color-white About

	section.Principal.Principal-image.center-content
		.wrapper
			article.Principal-description
				h2.Principal-title.color-white.txt-ctr Descripcion breve sobre nosotros
				p.color-white.txt-ctr Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				.m-t-lg
					a(href="#").Principal-button.color-white.disp-blk.txt-ctr.pos-rel Mas información

	.bg-white.height-100.width-100.center-content#work
		h3 Work

	section.Second
		.child.center-content.bg-attach-fix
			.wrapper
				article.Second-description.txt-ctr
					h2.color-white Titulo de relacionado a nuestro trabajo
					p.color-white Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

	.bg-white.height-100.width-100.center-content#contact
		h3 Contact
	section.Contact.height-100.bg-black.center-content
		form.Contact-form
			p
				label(for="name" class="color-white label-tag") Nombre:
				input(type="text" id="name" class="border_input_styles")
			p
				label(for="phone" class="color-white label-tag") Telefono:
				input(type="text" id="phone" class="border_input_styles")
			p
				label(for="email" class="color-white label-tag") Email:
				input(type="text" id="email" class="border_input_styles")
			p
				label(for="message" class="color-white label-tag") Mensaje:
				textarea(id="message" class="border_input_styles")
			p
				button(type="submit" class="submit-button") Enviar