include ../modifiers/variables
footer.Footer.center-content
	span.Footer-networks.txt-ctr
		ul.Footer-list.padd-0.txt-ctr
			each red, index in redes
				li(class="Footer-listItem disp-inln-blk"): a(href="http://" + pages[index], target="_blank",class="disp-blk"): i(class="color-white fa fa-" + red)
	span.Footer-copy
		small.color-white Tu Compañia &copy 2017
		small: a(href="#" class="color-white") Desarrollado por Mi