head
	meta(charset="UTF-8")
	meta(name="viewport" content="width = device-width, initial-scale=1")

	block title
		title Web-One

	block description
		meta(name="description" content="Proto usando Gulp")

	block styles
		link(rel="stylesheet", href="css/styles.css")
