header.Header
	figure.Header-logo
		img(src="/img/icon.png")
	button.Header-menuBtn
		i.fa.fa-bars
	nav.Header-nav#header-menu
		ul.Header-nav-list
			li.Header-nav-listItem: a(href="#") List item 1
				i.fa.fa-rocket
			li.Header-nav-listItem: a(href="#") List item 2
				i.fa.fa-gear
			li.Header-nav-listItem: a(href="#") List item 3
				i.fa.fa-wrench
			li.Header-nav-listItem: a(href="#") List item 4
				i.fa.fa-envelope-o
