include ../modifiers/variables
header.Header.pos-fix.width-100.top-0
	button.Header-menuBtn
		i.fa.fa-bars.color-white
	nav.Header-nav.disp-none.width-100.height-100.top-0.bg-white#header-menu
		ul.Header-nav-list.width-100.pos-rel.txt-ctr.center-content.m-0.height-100
			each menuItem in menuItems
				li.Header-nav-listItem.width-100: a(class="color-pink" href="#" + menuItem) #{menuItem}
