doctype html
html(lang="es-mx")

	include head

	body

		include header

		main.Main

			block Main


		include footer

		block scripts
			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
			script(src="/js/scripts.min.js")